.friend_list {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: flex-start;
  background-color: wheat;
  width: 350px;
  height: auto;
  margin: 10px;
  border-radius: 6px;
  border: 1px solid gray;
  box-shadow: 0 15px 10px #777;
}

.name {
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  font-size: 30px;
  line-height: 1.8;
  color: black;
  text-align: center;
}

.status {
}

.avatar {
  padding: 20px;
}
