ul {
  list-style: none;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 650px;
  background-color: grey;
  margin: 20px;
  padding: 0px;
}

.description {
  background-color: antiquewhite;
  padding: 20px;
  margin: 20px;
  border-radius: 6px;
}

.avatar {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid black;
}
.name {
  margin: 0px;
  padding: 0px;
  padding-top: 20px;
  font-size: 20px;
  line-height: 1.8;
  color: blue;
  text-align: center;
}
.tag {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 1.5;
  color: gray;
  text-align: center;
}
.location {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 1.5;
  color: gray;
  text-align: center;
}

.stats {
  background-color: white;
  padding: 20px;
  margin: 20px;
  margin-top: 0px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.label {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quantity {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 1.5;
  color: gray;
  text-align: center;
}
